.box {
    margin: 15px 0;
    min-height: 150px;
    text-align: center;
}

.box-content {
    padding: 55px;
    font-size: 20px;
}
.box-content h3 {
    font-size: 20px;
}
.box p {
	padding-left: 20px;
	padding-right: 20px;
}
.h-400 {
	height: 400px;
}